* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(151, 143, 132);
  margin: 34px;
  padding: 7px;
  font-family: "Poppins", serif;
  display: flex;
  justify-content: center;
}

.container {
  position: absolute;
  /* border: 2px solid black; */
  margin: 34px;
  min-height: 80vh;
  width: 480px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
  position: relative;
  display: flex;
  box-sizing: border-box;
  /* border: 2px solid black; */
  width: 480px;
  height: 320px;
  top: 2px;
  left: 5px;
}

img {
  position: relative;
  padding: 2px;
  box-sizing: border-box;
  width: 470px;
  height: 320px;
  object-fit: cover;
  border-radius: 20px;
}

.captions{
  display: inline-flex;
  position: relative;
  margin: 3px;
  left: 2px;
  /* border: 2px solid black; */
  padding: 2px;
  color: rgb(129, 128, 128);
}
.captions span {
  padding: 5px; /* Reduced padding */
}

h1 {
  display: flex;
  margin: 3px;
  padding: 2px;
}

p {
  display: flex;
  margin: 10px;
  padding: 2px;
}

button {
  display: inline-flex;
  position: relative;
  background-color: rgb(64, 153, 236);
  margin: 3px;
  padding: 19px;
  border-radius: 20px;
  color: white;
  border: none;
  top: 709px;
}
